DB_LINK=jdbc:postgresql://localhost:5432/d3tec
DB_USER=postgres
DB_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=


EMAIL_ENABLE=true

APP_CONTACT_NOTIFICATION_EMAIL=contato@d3tec.com.br
JWT_PUBLIC_KEY_PATH:classpath:app.pub
JWT_PRIVATE_KEY_PATH:classpath:app.key